body {
    font-family: 'Nunito', sans-serif;
    background-color: #1a202c;
    color: #a0aec0;
}

.card {
    background-color: #2d3748;
    border: 1px solid #4a5568;
}

.card-title {
    color: #ffffff;
}

.footer {
    background-color: #2d3748;
    color: #a0aec0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

.btn-outline-secondary {
    color: #a0aec0;
    border-color: #a0aec0;
}

.btn-outline-secondary:hover {
    color: #ffffff;
    background-color: #a0aec0;
    border-color: #a0aec0;
}

.hover-underline:hover {
    text-decoration: underline;
}

.footer-image{
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}
